<div class="w-100 body-form bg-white mt-4 mb-4  rounded-3 shadow">
    <br/>
    <h2>Lista de Empleados</h2>
    <br/>
    <br/>
    <div class="text-center" >
      <p>Hola {{user.name}}, estos son los miembros de su equipo, si desea ver el equipo de trabajo de cada uno de los miembros de su equipo seleccione el nombre: <select   [(ngModel)]="filterUsers2">
        <option selected>Elegir nombre</option>
        <option  *ngFor="let item of  collection.data | pipeUserFilter:filterUsers">
        {{item.nombre}}
        </option>
      </select><p>
    </div>
    <br/>
  <table class="table table-striped">
  <thead class="table-dark">
    <tr>
        <th>Nombre Completo</th>
        <th>Correo_personal</th>
        <th>Correo_corporativo</th>
        <th>Telefono_contacto</th>
        <th>Fecha_Nacimiento</th>
        <th>Proyecto_asignado</th>
        <th>Fecha_incorporación</th>
        <th>Fecha_baja</th>
        <th>Responsable_directo</th>  
        <th>Activo</th>
      
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of  collection.data | pipeUserFilter:filterUsers">
    <td>{{item.nombre}}</td>
    <td>{{item.correoPersonal}}</td>
    <td>{{item.correoCorporativo}}</td>
    <td>{{item.telefono}}</td>
    <td>{{item.fecha_nacimiento}}</td>
    <td >{{item.proyecto_asignado}}</td>
    <td>{{item.fecha_incorporacion}}</td>
    <td>{{item.fecha_baja}}</td>
    <td>{{item.responsable_directo}}</td>
    <td>{{item.activo}}</td>
  
  </tr>
  </tbody>
  </table>
  <table class="table table-striped">
    <thead >
      <tr>
        <th>Nombre Completo</th>
        <th>Correo_personal</th>
        <th>Correo_corporativo</th>
        <th>Telefono_contacto</th>
        <th>Fecha_Nacimiento</th>
        <th>Proyecto_asignado</th>
        <th>Fecha_incorporación</th>
        <th>Fecha_baja</th>
        <th>Responsable_directo</th>  
        <th>Activo</th>
        
      </tr>
    </thead>
    <tbody *ngIf="filterUsers2">
    <tr *ngFor="let item of  collection.data | filterHome:filterUsers2" >
      <td>{{item.nombre}}</td>
      <td>{{item.correoPersonal}}</td>
      <td>{{item.correoCorporativo}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.fecha_nacimiento}}</td>
      <td >{{item.proyecto_asignado}}</td>
      <td>{{item.fecha_incorporacion}}</td>
      <td>{{item.fecha_baja}}</td>
      <td>{{item.responsable_directo}}</td>
      <td>{{item.activo}}</td>
    
    </tr>
    </tbody>
    </table>
  
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
  </div>
