<div class="container w-75 body-form bg-white mt-4 mb-4 rounded-3 shadow">
    <div class="row">
        <div class="col bg d-none d-lg-block  col-md-4 d-col-lg-5 col-xl-6 "> <!-- d-xl-block -->

        </div>
        <div class="separador"></div>
        <div class="col m-4 rounded-end">
            <div class="text-end">
                <img src='../assets/img/sit (3).png' width="80" alt="">
            </div>
            <h2 class="fw-bold text-center  pt-3">Exclusivo para Administrador</h2>
            <h2 class="fw-bold text-center  pt-3">Registrate</h2>
            <!-- login -->
            <form id="registerForm" (ngSubmit)="onAddUser()" >
                <div class="mb-4">
                    <label for="email" class="form-label">Nombre Completo</label>
                    <input  type="text" id="name" name="name" class="form-control" placeholder="Nombre Completo" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" [(ngModel)]="datos.name" #nameLocal="ngModel">
                    <div  class="alert alert-danger" *ngIf="nameLocal.invalid && (nameLocal.dirty || nameLocal.touched)">
                        <div class="container-error-message" *ngIf="nameLocal.errors?.['required']">
                            El nombre es requerido
                        </div>
                        <div class="container-error-message" *ngIf="nameLocal.errors?.['pattern']">
                            Nombre invalido
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label">Correo electronico</label>
                    <input  type="email" id="email" name="email" class="form-control" placeholder="Correo Electronico" required email  [(ngModel)]="datos.email" #emailLocal="ngModel">
                    <div  class="alert alert-danger" *ngIf="emailLocal.invalid && (emailLocal.dirty || emailLocal.touched)">
                        <div class="container-error-message" *ngIf="emailLocal.errors?.['required']">
                            El email es requerido
                        </div>
                        <div class="container-error-message" *ngIf="emailLocal.errors?.['email']">
                            Email invalido
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input  type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required minlength="8"  [(ngModel)]="datos.password" #passwordLocal="ngModel">
                    <div class="alert alert-danger" *ngIf="passwordLocal.invalid && (passwordLocal.dirty || passwordLocal.touched)">
                        <div class="container-error-message" *ngIf="passwordLocal.errors?.['required']">
                            La contraseña es requerido
                        </div>
                        <div class="container-error-message" *ngIf="passwordLocal.errors?.['minlength']">
                            La contraseña debe ser de al menos 8 carecteres
                        </div>
                    </div>
                </div>
                
                
                <div class="d-grid">
                    <button id="btnSubmit" type="submit" class="btn btn-primary" [disabled]="(passwordLocal.touched ||emailLocal.touched ||nameLocal.touched) &&(passwordLocal.invalid || emailLocal.invalid || nameLocal.invalid)">Registrarse</button>
                </div>
                <div class="my-3">
                    <div *ngIf="isAlert" class="alert alert-danger d-flex align-items-center" role="alert" >
                        <i class="bi bi-exclamation-triangle-fill me-2" width="24" height="24"></i>
                      <div>
                          {{alertMsg}}
                      </div>
                      <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"  ></button>
                    </div>
                    <span>Ya tienes cuenta? <a routerLink="/login">Iniciar Sesion</a></span>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>
