<div *ngIf="userRol==='admin';">

    <div  class="w-100 body-form bg-white mt-4 mb-4  rounded-3 shadow">
       
    <div>
      <br/>
      <h2>Lista de Empleados</h2>
      <br/>
      <label style="margin-left:45px; font-size:30px; color:rgb(10, 1, 1)">Busqueda</label>
      <br/>
    
      <div class="mb-3 row">
        <div class="col-sm-10" style="width:25% ; margin-left: 50px;">
          <input type="text" class="form-control"  placeholder="Busqueda.." [(ngModel)]="filterAdmin" >
        </div>
    
        
        
        <div class="d-grid gap-1 col-2 mx-auto">
          <button style="margin-left: 20px;" class="btn btn-primary" id="boton" type="button"  (click)="openEmpleado(contentAdd)">Agregar  Empleado</button>
        </div>
      
  
        <div class="d-grid gap-1 col-2 mx-auto">
          <button type="button" class="btn btn-outline-dark" (click)="open(content3)">Agregar Proyecto</button>
          </div>
          
        
      </div>
      
      <br/>
      <br/>
    <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Nombre Completo</th>
        <th>Correo_personal</th>
        <th>Correo_corporativo</th>
        <th>Telefono_contacto</th>
        <th>Fecha_Nacimiento</th>
        <th>Proyecto_asignado</th>
        <th>Fecha_incorporación</th>
        <th>Fecha_baja</th>
        <th>Responsable_directo</th>  
        <th>Nombre_familiar</th>
        <th>Telefono_familiar</th>
        <th>Activo</th>
        <th>Opciones</th>
  
      </tr>
    </thead>
    <tbody  >
    <tr *ngFor="let item of collection.data | pipeAdmin:filterAdmin | paginate:config ">
      <td>{{item.nombre}}</td>
      <td>{{item.correoPersonal}}</td>
      <td>{{item.correoCorporativo}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.fecha_nacimiento}}</td>
      <td >{{item.proyecto_asignado}}</td>
      <td>{{item.fecha_incorporacion}}</td>
      <td>{{item.fecha_baja}}</td>
      <td>{{item.responsable_directo}}</td>
      <td>{{item.Nombre_familiar}}</td>
      <td>{{item.Telefono_familiar}}</td>
      <td>{{item.activo}}</td>
      <td class="p-1" style="margin-left: 2px;">
       <i class="bi bi-pencil-square" style="font-size: 200%; margin-right: 6px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" (click)="openEditar(content,item)"></i>
       <i class="bi bi-person-plus" style="font-size: 200%;" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear Cuenta"(click)="openForEdit(content5,item)"></i>
      </td>
  </tr>
    
    
    </tbody>
    </table>
    
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    
      <!--Modal 1-->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Empleado</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeClick()"></button>
      </div>
      <div class="modal-body" style="overflow-y:auto; max-height:500px">
       <div class="form-group">
         <form [formGroup]="employeeForm" >
  
            <div class="form-group">
              <label>Nombre Completo</label>
              <input type="text" formControlName="nombre" class="form-control">
              <div *ngIf="employeeForm.get('nombre')?.touched && employeeForm.get('nombre')?.errors?.['required']"
              class="alert alert-danger">Este nombre es requerido</div>
            </div>
            <div class="form-group">
              <label>Correo_personal</label>
              <input type="email" formControlName="correoPersonal" class="form-control">
              <div *ngIf="employeeForm.get('correoPersonal')?.touched  && employeeForm.get('correoPersonal')?.errors?.['required']"
              class="alert alert-danger">
                El email es requerido
              </div>
              <div *ngIf="employeeForm.get('correoPersonal')?.touched && employeeForm.get('correoPersonal')?.errors?.['email']"
              class="alert alert-warning">
                El email es incorrecto
              </div>
            </div>
            <div class="form-group">
              <label>Correo_corporativo</label>
              <input type="email" formControlName="correoCorporativo" class="form-control">
              <div *ngIf="employeeForm.get('correoCorporativo')?.touched && employeeForm.get('correoCorporativo')?.errors?.['required']"
              class="alert alert-danger">
                El email es requerido
              </div>
              <div *ngIf="employeeForm.get('correoCorporativo')?.touched && employeeForm.get('correoCorpprativo')?.errors?.['email']"
              class="alert alert-warning">
                El email es incorrecto
              </div>
            </div>
  
            <div class="form-group">
              <label>Teléfono</label>
              <input type="text" formControlName="telefono" class="form-control">
              <div *ngIf="employeeForm.get('telefono')?.touched && employeeForm.get('telefono')?.errors?.['required']"
              class="alert alert-danger">
                El teléfono es requerido
              </div>
            </div>
  
            <div class="form-group">
              <label>Fecha_Nacimiento</label>
              <input type="date" formControlName="fecha_nacimiento" class="form-control">
            </div>
           <div class="form-group">
            <fieldset disabled>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Proyecto Asignado Actual</label>
                <input type="text" id="disabledTextInput" formControlName="proyecto_asignado2" class="form-control" >
              </div>
            </fieldset>
              <label>Cambiar proyecto:</label>
              <input type="text" id="proyectos" list="listaProyectos" class="form-control" [(ngModel)]="filterProyectos" formControlName="proyecto_asignado">
            <datalist id="listaProyectos" *ngIf="filterProyectos">
              <option *ngFor="let item of collection2.data2 | pipeUser:filterProyectos | paginate:configProyect">{{item.proyecto_asignado2}}</option>
            </datalist>
            
            </div>
           
            <div >
              <label>Fecha_incorporación</label>
              <input type="date" formControlName="fecha_incorporacion" class="form-control">
            </div>
            <div class="form-group">
              <label>Fecha_baja</label>
              <input type="date" formControlName="fecha_baja" class="form-control">
            </div>
            <div class="form-group" >
              <fieldset disabled>
                <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">Responsable Directo Actual</label>
                  <input type="text" id="disabledTextInput" formControlName="responsable_directo2" class="form-control" >
                </div>
              </fieldset>
              <label>Cambiar Responsable Directo </label>
              <input type="text" id="usuarios" list="listaUsuarios" class="form-control" [(ngModel)]="filterPost" formControlName="responsable_directo">
            <datalist id="listaUsuarios" *ngIf="filterPost">
              <option *ngFor="let item of collection.data | filter:filterPost| paginate:config2">{{item.nombre}}</option>
            </datalist> 
          </div>
            
            <div class="form-group">
              <label>Activo: </label>
            <select class="form-select" aria-label="Default select example" style="width: 70%; margin-left:10px" class="form-control" formControlName="activo">
              <option selected ></option>
              <option >NO</option>
              <option >SI</option>
            </select>
            <div *ngIf="employeeForm.get('activo')?.touched && employeeForm.get('activo')?.errors?.['required']"
            class="alert alert-danger">
             Este campo es requerido
            </div> 
            </div>
            <br/>
            <div class="form-group">
              <h3>Contacto de Emergencia</h3>
            </div>
            <br/>
            <div class="form-group">
              <label>Nombre </label>
              <input type="text" formControlName="Nombre_familiar" class="form-control">
            </div>
            <div class="form-group">
              <label>Teléfono de emergencia</label>
              <input type="text" formControlName="Telefono_familiar" class="form-control">
            </div>
            <div *ngIf="employeeForm.get('Telefono_familiar')?.touched && employeeForm.get('Telefono_familiar')?.errors?.['required']"
            class="alert alert-danger">
              El télefono es requerido</div>
          </form>
    
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeClick()">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="actualizarEmpleado()">Actualizar</button>
      </div>
    </ng-template>
  
    <!-- este es el bueno -->
  
    <ng-template #contentAdd let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Empleado</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body" style="overflow-y:auto; max-height:500px">
       <div class="form-group">
         <form [formGroup]="employeeForm" >
  
            <div class="form-group">
              <label>Nombre Completo</label>
              <input type="text" formControlName="nombre" class="form-control">
              <div *ngIf="employeeForm.get('nombre')?.touched && employeeForm.get('nombre')?.errors?.['required']"
              class="alert alert-danger">
                El nombre es requerido
              </div>
            </div>
            <div class="form-group">
              <label>Correo_personal</label>
              <input type="email" formControlName="correoPersonal" class="form-control"  >
              <div *ngIf="employeeForm.get('correoPersonal')?.touched && employeeForm.get('correoPersonal')?.errors?.['required']"
              class="alert alert-danger">
                El email es requerido
              </div>
              <div *ngIf="employeeForm.get('correoPersonal')?.touched && employeeForm.get('correoPersonal')?.errors?.['email']"
              class="alert alert-warning">
                El email es incorrecto
              </div>
            </div>
            <div class="form-group">
              <label>Correo_corporativo</label>
              <input type="email" formControlName="correoCorporativo" class="form-control">
              <div *ngIf="employeeForm.get('correoCorporativo')?.touched && employeeForm.get('correoCorporativo')?.errors?.['required']"
              class="alert alert-danger">
                El email es requerido
              </div>
              <div *ngIf="employeeForm.get('correoCorporativo')?.touched && employeeForm.get('correoCorporativo')?.errors?.['email']"
              class="alert alert-warning">
                El email es incorrecto
              </div>
            </div>
  
            <div class="form-group">
              <label>Teléfono</label>
              <input type="text" formControlName="telefono" class="form-control">
              <div *ngIf="employeeForm.get('telefono')?.touched && employeeForm.get('telefono')?.errors?.['required']"
              class="alert alert-danger">
                El teléfono es requerido
              </div>
            </div>
  
            <div class="form-group">
              <label>Fecha_Nacimiento</label>
              <input type="date" formControlName="fecha_nacimiento" class="form-control">
            </div>
            <div class="form-group">
              <label>Asignar Proyecto: </label>
              
              <input type="text" id="proyectos" list="listaProyectos" class="form-control" [(ngModel)]="filterProyectos" formControlName="proyecto_asignado">
            <datalist id="listaProyectos" *ngIf="filterProyectos">
              <option *ngFor="let item of collection2.data2 | pipeUser:filterProyectos | paginate:configProyect">{{item.proyecto_asignado2}}</option>
            </datalist> 
            </div>
      
            <div class="form-group">
              <label>Fecha_incorporación</label>
              <input type="date" formControlName="fecha_incorporacion" class="form-control">
            </div>
            <div class="form-group">
              <label>Fecha_baja</label>
              <input type="date" formControlName="fecha_baja" class="form-control">
            </div>
            <div class="form-group">
              <label> Asignar Responsable Directo </label>
              <input type="text" id="usuarios" list="listaUsuarios" class="form-control" [(ngModel)]="filterPost" formControlName="responsable_directo" >
            <datalist id="listaUsuarios" *ngIf="filterPost">
              <option *ngFor="let item of collection.data | filter:filterPost| paginate:config2">{{item.nombre}}</option>
              
            </datalist> 
          </div>

            <br/>
            <div class="form-group">
              <h2>Contacto de Emergencia</h2>
            </div>
            <br/>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" formControlName="Nombre_familiar" class="form-control">
            </div>
            <div class="form-group">
              <label>Teléfono de Emergencia</label>
              <input type="text" formControlName="Telefono_familiar" class="form-control">
              <div *ngIf="employeeForm.get('telefono')?.touched && employeeForm.get('telefono')?.errors?.['required']" class="alert alert-danger" >
                El teléfono es requerido
              </div>
            </div>
            
          </form>
    
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"  (click)="guardarEmpleado()">Guardar</button>
      </div>
    </ng-template>
    
    </div>
  
  
    <!--Modal para cambiar status-->
    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cambiar Estatus</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
       <div class="form-group">
         <form [formGroup]="employeeStatus" >
            <div class="form-group">
              <label>Cambiar Estatus</label>
            <select class="form-select" aria-label="Default select example" style="width: 70%; margin-left:10px" class="form-control" formControlName="activo">
              <option selected ></option>
              <option >NO</option>
              <option >SI</option>
            </select>
            </div>
            
          </form>
    
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizarStatus()">Cambiar</button>
      </div>
    </ng-template>
  
    <!--Modal para cambiar proyecto asignado-->
    <ng-template #content3 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Cliente</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
       <div class="form-group">
         <form [formGroup]="proyectForm" >
          <div class="form-group">
            <label>Nuevo Proyecto</label>
            <input type="text" formControlName="proyecto_asignado2" class="form-control">
          </div>
          </form>
    
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="guardarProyecto()">Guardar Proyecto</button>
      </div>
    </ng-template>
  
    

    <!-- crear cuenta usuario -->

    <ng-template #content5 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear cuenta al empleado</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
       <div class="form-group">
        <form id="registerForm" >
          <div class="mb-4">
              <label for="email" class="form-label">Nombre Completo</label>
              <input  type="text" id="name" name="name" class="form-control" placeholder="Nombre Completo" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" [(ngModel)]="datos.name" #nameLocal="ngModel">
              <div  class="alert alert-danger" *ngIf="nameLocal.invalid && (nameLocal.dirty || nameLocal.touched)">
                  <div class="container-error-message" *ngIf="nameLocal.errors?.['required']">
                      El nombre es requerido
                  </div>
                  <div class="container-error-message" *ngIf="nameLocal.errors?.['pattern']">
                      Nombre invalido
                  </div>
              </div>
          </div>
          <div class="mb-4">
              <label for="email" class="form-label">Correo electronico</label>
              <input  type="email" id="email" name="email" class="form-control" placeholder="Correo Electronico" required email  [(ngModel)]="datos.email" #emailLocal="ngModel">
              <div  class="alert alert-danger" *ngIf="emailLocal.invalid && (emailLocal.dirty || emailLocal.touched)">
                  <div class="container-error-message" *ngIf="emailLocal.errors?.['required']">
                      El email es requerido
                  </div>
                  <div class="container-error-message" *ngIf="emailLocal.errors?.['email']">
                      Email invalido
                  </div>
              </div>
          </div>
          <div class="mb-4">
              <label for="password" class="form-label">Contraseña</label>
              <input  type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required minlength="8"  [(ngModel)]="datos.password" #passwordLocal="ngModel">
              <div class="alert alert-danger" *ngIf="passwordLocal.invalid && (passwordLocal.dirty || passwordLocal.touched)">
                  <div class="container-error-message" *ngIf="passwordLocal.errors?.['required']">
                      La contraseña es requerido
                  </div>
                  <div class="container-error-message" *ngIf="passwordLocal.errors?.['minlength']">
                      La contraseña debe ser de al menos 8 carecteres
                  </div>
              </div>
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Rol:</label>
            <select  class="form-control mx-1" [(ngModel)]="datos.roles.rol"  name="roles">
                <option  value=admin>Administrador</option>
                <option  value=Usuario>Usuario</option>
              </select>
          </div>
      </form>
    
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeClick2()">Cancelar</button>
        <button id="btnSubmit"  class="btn btn-outline-dark" [disabled]="(passwordLocal.touched ||emailLocal.touched ||nameLocal.touched) &&(passwordLocal.invalid || emailLocal.invalid || nameLocal.invalid)" (click)="onAddUser()">Registrarse</button>
      </div>
    </ng-template>
    </div>
  </div>
  
  
