@import "~bootstrap-icons/font/bootstrap-icons.css";

:host{
    display: block;
    margin-left: 1%;
    margin-right: 1%;
}

.body-form{
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
}


h2{
    font-weight: bold;
    text-align: center;
    }
    #button{
    margin-right: auto;
    margin-left: auto;
    }
    #valor{
        display: flex;
        margin-top: -25px;
        margin-left: 20px;
    }
    nav{
        height: 60px;
        width:100%;
    }
    #delete{
        margin-top: 10px;
    }